@media screen and (max-width:1200px){
	.device{left:20%;top:-36px;}
	footer li{margin-right:10%;}
	.feature-content{width:55%;}
}
@media screen and (max-width:991px){
	.feature-1,.feature-2{margin-bottom:50px;}
	.device{display:none;}
	.screenshots ul li{width:50%;}
	.screenshots-intro{padding:110px 0 100px 0;}
	.feature-content{width:80%;}
	.features-slider{height:100%}
}
/*ipad Air*/
@media screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
{
	.features-slider{height:110%;width:115%}
	.features-img{height:580px;}
	.features-input-dist{width:40%}
	.features-label-dist{width:30%}
}

/*iphone 5*/
@media screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait)
{
	.news-poster{width:100%; height:100%;}
	.main-creative{display:none;}
	.features-premio{margin-left:5%;}
	.features-input-dist{width:40%}
	.features-label-dist{margin-right:25%;}
	.show-daReserva{display:none;}
}

@media screen and (max-width:680px){
	.feature-content{width:60%;}
}
@media screen and (max-width:640px){
	.use-btn{display:none;}
	footer li{display:block;text-align:left;padding:20px 0;border-bottom:dashed 1px #c7cacc;margin-right:0!important;float:none;}
	nav{margin-top:40px;}
	.overlay ul{margin-left:0px;}
	.overlay ul li a{padding:20px 0;min-width:120px;font-size:12px;}
}
@media screen and (max-width:465px){
	.hero h1{font-size:40px;margin:100px 0 45px 0}
	.screenshots ul li{width:100%;min-height:100%;float:none;}
	section.video i{font-size:30px;}
	section.video h1{font-size:15px;font-weight:400;}
	section.video{padding:40px;}
	.feature-content{width:100%;text-align:center;margin-top:20px;}
	.feature-icon{display:block;margin:0 auto;}
	blockquote p{width:60%;}
	.features-slider {padding: 11% 50px 10% 50px;}
}
